{% extends "Layout.html" %}
{% block options %}
<a class="nav-item nav-link" href="/webmap"> Webmap </a>
<a class="nav-item nav-link" href="/healthcard"> Healthcard </a>
<a class="nav-item nav-link" href="/scene"> Survey </a>
<a class="nav-item nav-link" href="/addzone"> Add Zone</a>
{% endblock %}
{% block body %}
<script>
      require([
        "esri/config",
        "esri/Map",
        "esri/WebMap",
        "esri/views/MapView",
        "esri/portal/Portal",
        "esri/layers/FeatureLayer",
        "esri/widgets/FeatureTable",
        "esri/layers/CSVLayer",
        "esri/renderers/SimpleRenderer",
        "esri/symbols/SimpleMarkerSymbol",
        "esri/core/urlUtils",

        "esri/widgets/BasemapGallery",
        "esri/widgets/BasemapToggle",
        "esri/widgets/Locate",
        "esri/widgets/Search",
        "esri/widgets/CoordinateConversion",
        "esri/widgets/LayerList",
        "esri/widgets/Legend",
        "esri/widgets/Expand",
        "esri/widgets/Measurement",
        "esri/widgets/DistanceMeasurement2D",
        "esri/widgets/AreaMeasurement2D",

        "esri/core/watchUtils",
        "dojo/query",
        "dojo/domReady!"
      ],
      function (
            esriConfig,
            Map,
            WebMap,
            MapView,
            Portal,
            FeatureLayer,
            FeatureTable,
            CSVLayer,
            SimpleRenderer,
            SimpleMarkerSymbol,
            urlUtils,
            BasemapGallery,
            BasemapToggle,
            Locate,
            Search,
            CoordinateConversion,
            LayerList,
            Legend,
            Expand,
            Measurement,
            DistanceMeasurement2D,
            AreaMeasurement2D,
            watchUtils,
            dojoQuery){


        const features = [];
                let RiverTracingWebMapId = "bee4f67960a040c79aad67e1810b70d4";
                if (window.location.href.indexOf("?id=") > 0) {
                  RiverTracingWebMapId = window.location.href.split("?id=")[0];
                }
                let WebMap_WaterBodies_TopographicId = "23bc5f282ec848adb1ee2610d2408e51";
                if (window.location.href.indexOf("?id=") > 0) {
                  WebMap_WaterBodies_TopographicId = window.location.href.split("?id=")[0];
                }
                let BASEWebMap_WaterBodies_TopographicId = "8912c1ef2dd6408090d9be41c8869558";
                if (window.location.href.indexOf("?id=") > 0) {
                  BASEWebMap_WaterBodies_TopographicId = window.location.href.split("?id=")[0];
                }

                var map = new WebMap({
                  portalItem: {
                    id: BASEWebMap_WaterBodies_TopographicId
                  }
                  //basemap:"topo"
                });

        let view = new MapView({
          container: "viewDiv",
          map: map,
          popup: {
            autoOpenEnabled: false
          } //disable popups
        });

        var layer = new FeatureLayer({
                    //url: "https://services.arcgis.com/fzIHTcK9TqzWXLVL/arcgis/rest/services/layer_pointsriverfront/FeatureServer/0"
                    url:"https://services.arcgis.com/fzIHTcK9TqzWXLVL/arcgis/rest/services/sabarmatizone/FeatureServer/0"
        });
        layer.watch("loaded", function(){
          watchUtils.whenFalseOnce(view, "updating", function(){
             var attribs = dojoQuery(".esri-attribution__sources")[0];
             console.info(attribs);
             attribs.innerHTML = "TEAM HEXA_BYTE";
          });
        });
        map.layers.add(layer);

            const url ="/static/surveyData.csv";

         const renderer = {
          type: "heatmap",
          colorStops: [
            { color: "rgba(63, 40, 102, 0)", ratio: 0 },
            { color: "#472b77", ratio: 0.083 },
            { color: "#4e2d87", ratio: 0.166 },
            { color: "#563098", ratio: 0.249 },
            { color: "#5d32a8", ratio: 0.332 },
            { color: "#6735be", ratio: 0.415 },
            { color: "#7139d4", ratio: 0.498 },
            { color: "#7b3ce9", ratio: 0.581 },
            { color: "#853fff", ratio: 0.664 },
            { color: "#a46fbf", ratio: 0.747 },
            { color: "#c29f80", ratio: 0.83 },
            { color: "#e0cf40", ratio: 0.913 },
            { color: "#ffff00", ratio: 1 }
          ],
          maxPixelIntensity: 25,
          minPixelIntensity: 0
        };

            const csvLayer = new CSVLayer({
            title: "Survey Data",
              url: url,
              copyright: "mjzaid921pccoer",
              renderer: renderer
            });
            map.layers.add(csvLayer);//



//PART02:
                view.ui.add("logoDiv", "bottom-left");
//PART03:
                var searchWidget = new Search({
                  view: view
                });
                view.ui.add(searchWidget, {
                  position: "top-right"
                });
//PART04:
                var locateBtn = new Locate({
                  view: view
                });
                view.ui.add(locateBtn, {
                  position: "top-left"
                });
//PART05:
                view.ui.add(
                  [
                    new Expand({
                      content: new Legend({
                        view: view
                      }),
                      view: view,
                      group: "top-left"
                    }),
                    new Expand({
                      content: new LayerList({
                        view: view
                      }),
                      view: view,
                      group: "top-left"
                    }),
                    new Expand({
                      content: new BasemapGallery({
                        view: view
                      }),
                      view: view,
                      expandIconClass: "esri-icon-basemap",
                      group: "top-left"
                    }),
                    new Expand({
                      content: new BasemapToggle({
                          view: view,
                          nextBasemap: "hybrid"
                      }),
                      view: view,
                      expandIconClass: "esri-icon-media",
                      group: "top-left"
                    }),
                    new Expand({
                      content:new CoordinateConversion({
                        view: view
                      }),
                      view: view,
                      expandIconClass: "esri-icon-experimental",
                      group: "top-left"
                    })
                  ],
                  "top-left"
                );
//PART06:
                var activeWidget = null;
                view.ui.add("topbar", "top-right");

                document
                .getElementById("distanceButton")
                .addEventListener("click", function () {
                  setActiveWidget(null);
                  if (!this.classList.contains("active")) {
                    setActiveWidget("distance");
                  }else{
                  setActiveButton(null);
                  }
                });

                document
                .getElementById("areaButton")
                .addEventListener("click", function () {
                  setActiveWidget(null);
                  if (!this.classList.contains("active")) {
                    setActiveWidget("area");
                  } else {
                    setActiveButton(null);
                }
                });

                function setActiveWidget(type) {
                  switch (type) {
                    case "distance":
                      activeWidget = new DistanceMeasurement2D({
                        view: view
                      });
                      // skip the initial 'new measurement' button
                      activeWidget.viewModel.newMeasurement();
                      view.ui.add(activeWidget, "top-right");
                      setActiveButton(document.getElementById("distanceButton"));
                    break;

                    case "area":
                      activeWidget = new AreaMeasurement2D({
                        view: view
                      });
                      // skip the initial 'new measurement' button
                      activeWidget.viewModel.newMeasurement();
                      view.ui.add(activeWidget, "top-right");
                      setActiveButton(document.getElementById("areaButton"));
                    break;

                    case null:
                      if (activeWidget) {
                        view.ui.remove(activeWidget);
                        activeWidget.destroy();
                        activeWidget = null;
                      }
                    break;
                  }
                }

                function setActiveButton(selectedButton) {
                  // focus the view to activate keyboard shortcuts for sketching
                  view.focus();
                  var elements = document.getElementsByClassName("active");
                  for (var i = 0; i < elements.length; i++) {
                    elements[i].classList.remove("active");
                  }
                  if (selectedButton) {
                    selectedButton.classList.add("active");
                  }
                }
//PART07:

        view.when(function () {
          const featureLayer = map.layers.getItemAt(1); //grabs the first layer in the map
          console.log(featureLayer.title);
          //featureLayer.title = "Survey Data";

          // Create the feature table
          const featureTable = new FeatureTable({
            view: view, // required for feature highlight to work
            layer: featureLayer,
            // Autocast the FieldColumnConfigs
            fieldConfigs: [
                  {
                    name: "FID",
                    label: "Field Id",
                    direction: "asc"
                  },
                  {
                    name: "SurveyId",
                    label: "SurveyId"
                  },
                  {
                    name: "Shape",
                    label: "Shape"
                  },
                  {
                    name: "Id",
                    label: "Id"
                  },
                  {
                    name: "longitude",
                    label: "longitude"
                  },
                  {
                    name: "latitude",
                    label: "latitude"
                  }

                ],
            container: document.getElementById("tableDiv")
          });

          // Add buttons to the mapView
          view.ui.add(document.getElementById("actions"), "bottom-right");

          // Listen for the table's selection-change event
          featureTable.on("selection-change", function (changes) {
            // If the selection is removed, remove the feature from the array
            changes.removed.forEach(function (item) {
              const data = features.find(function (data) {
                return data.feature === item.feature;
              });
              if (data) {
                features.splice(features.indexOf(data), 1);
              }
            });

            // If the selection is added, push all added selections to array
            changes.added.forEach(function (item) {
              const feature = item.feature;
              features.push({
                feature: feature
              });
            });
          });

          // Listen for the click on the view and select any associated row in the table
          view.on("immediate-click", function (event) {
            view.hitTest(event).then(function (response) {
              const candidate = response.results.find(function (result) {
                return (
                  result.graphic &&
                  result.graphic.layer &&
                  result.graphic.layer === featureLayer
                );
              });
              // Select the rows of the clicked feature
              candidate && featureTable.selectRows(candidate.graphic);
            });
          });

          const zoomBtn = document.getElementById("zoom");
          const fullExtentBtn = document.getElementById("fullextent");

          // Wire up button click event listeners
          zoomBtn.addEventListener("click", zoomToSelectedFeature);
          fullExtentBtn.addEventListener("click", fullExtent);

          // fires when "Zoom to selected feature(s)" button is clicked
          function zoomToSelectedFeature() {
            // Create a query off of the feature layer
            const query = featureLayer.createQuery();
            // Iterate through the features and grab the feature's objectID
            const featureIds = features.map(function (result) {
              return result.feature.getAttribute(featureLayer.objectIdField);
            });
            // Set the query's objectId
            query.objectIds = featureIds;
            // Make sure to return the geometry to zoom to
            query.returnGeometry = true;
            // Call queryFeatures on the feature layer and zoom to the resulting features
            featureLayer.queryFeatures(query).then(function (results) {
              view.goTo(results.features).catch(function (error) {
                if (error.name != "AbortError") {
                  console.error(error);
                }
              });
            });
          }
          // Fires when "Full extent" button is clicked
          function fullExtent() {
            // Zooms to the full extent of the feature layer
            view.goTo(featureLayer.fullExtent).catch(function (error) {
              if (error.name != "AbortError") {
                console.error(error);
              }
            });
          }
        });



    });
    </script>
        <hr>
        <div id="viewDiv"></div>
        <hr>

<div id="logoDiv" class="esri-widget">SIH Team HEXA_BYTE</div>
<div id="topbar">
      <button
        class="action-button esri-icon-measure-line"
        id="distanceButton"
        type="button"
        title="Measure distance between two or more points"
      ></button>
      <button
        class="action-button esri-icon-measure-area"
        id="areaButton"
        type="button"
        title="Measure area"
      ></button>
    </div>


    <div class="container">
      <div id="tableDiv"></div>
    </div>
    <div id="actions" class="esri-widget">
      <button class="esri-button" id="zoom">Zoom to selected feature(s)</button>
      <button class="esri-button" id="fullextent">Full extent</button>
    </div>


{% endblock %}
