{% extends "base.html" %}
{% block content %}
<body>
  <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/home">HEXABYTE</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="#">About us</a></li>
            <li><a href="#">Contact</a></li>
              {% if status == 1 %}
                    <li><a href='/admin'>Admin Page</a></li>
              {% endif %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li><a href="/adminlogin"><span class="glyphicon glyphicon-user"></span> Admin Login</a></li>
          </ul>
        </div>
      </nav>
</body>
{% endblock content %}



