<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no"/>
        {% if title %}
        <title>SIH: HEXA_BYTE - {{ title }}</title>
        {% else %}
        <title>Welcome to microblog</title>
        {% endif %}
    </head>
    <body>
        <link rel="stylesheet" href="https://js.arcgis.com/4.16/esri/themes/light/main.css"/>
        <script src="https://js.arcgis.com/4.16/"></script>


<style>
          html,
          body,
          #viewDiv {
            padding: 0;
            margin: 0;
            height: 100%;
            width: 100%;
          }
          #logoDiv {
            padding: 12px;
            background-color: black;
            color: yellow;
            text-align: center;
            width: 100px;
          }
          #zoom {
            margin-bottom: 5px;
          }

          #actions {
            padding: 5px;
          }

          .container {
            height: 95%;
            width: 100%;
          }
      #topbar {
        background: #fff;
        padding: 10px;
      }

      .action-button {
        font-size: 16px;
        background-color: transparent;
        border: 1px solid #d3d3d3;
        color: #6e6e6e;
        height: 32px;
        width: 32px;
        text-align: center;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
      }

      .action-button:hover,
      .action-button:focus {
        background: #0079c1;
        color: #e4e4e4;
      }

      .active {
        background: #0079c1;
        color: #e4e4e4;
      }

        </style>



<script>
require([
    "esri/config",
    "esri/Map",
    "esri/WebMap",
    "esri/views/MapView",
    "esri/portal/Portal",
    "esri/layers/Layer",
    "esri/layers/FeatureLayer",
    "esri/widgets/FeatureTable",
    "esri/layers/CSVLayer",
    "esri/renderers/SimpleRenderer",
    "esri/symbols/SimpleMarkerSymbol",
    "esri/Graphic",
    "esri/geometry/Point",
    "esri/core/urlUtils",

    "esri/widgets/BasemapGallery",
    "esri/widgets/BasemapToggle",
    "esri/widgets/Locate",
    "esri/widgets/Search",
    "esri/widgets/CoordinateConversion",
    "esri/widgets/LayerList",
    "esri/widgets/Legend",
    "esri/widgets/Expand",
    "esri/widgets/Measurement",
    "esri/widgets/DistanceMeasurement2D",
    "esri/widgets/AreaMeasurement2D",

    "esri/core/watchUtils",
    "dojo/query",
    "dojo/domReady!"
  ],
  function (
        esriConfig,
        Map,
        WebMap,
        MapView,
        Portal,
        Layer,
        FeatureLayer,
        FeatureTable,
        CSVLayer,
        SimpleRenderer,
        SimpleMarkerSymbol,
        Graphic,
        Point,
        urlUtils,
        BasemapGallery,
        BasemapToggle,
        Locate,
        Search,
        CoordinateConversion,
        LayerList,
        Legend,
        Expand,
        Measurement,
        DistanceMeasurement2D,
        AreaMeasurement2D,
        watchUtils,
        dojoQuery){
        esriConfig.portalUrl = "https://mjzaid921pccoer.maps.arcgis.com";
//PART01:
            let RiverTracingWebMapId = "bee4f67960a040c79aad67e1810b70d4";
            if (window.location.href.indexOf("?id=") > 0) {
              RiverTracingWebMapId = window.location.href.split("?id=")[0];
            }
            var map = new WebMap({
              portalItem: {
                id: RiverTracingWebMapId
              }
             // basemap:"topo"
            });



            var view = new MapView({
              map: map,
              container: "viewDiv",
              //center: [78.9629 , 20.5937],
              //zoom: 4
            });

            console.log(view);

//PART02:
            view.ui.add("logoDiv", "bottom-left");
//PART03:
            var searchWidget = new Search({
              view: view
            });
            view.ui.add(searchWidget, {
              position: "top-right"
            });
//PART04:
            var locateBtn = new Locate({
              view: view
            });
            view.ui.add(locateBtn, {
              position: "top-left"
            });
//PART05:
            view.ui.add(
              [
                new Expand({
                  content: new Legend({
                    view: view
                  }),
                  view: view,
                  group: "top-left"
                }),
                new Expand({
                  content: new LayerList({
                    view: view
                  }),
                  view: view,
                  group: "top-left"
                }),
                new Expand({
                  content: new BasemapGallery({
                    view: view
                  }),
                  view: view,
                  expandIconClass: "esri-icon-basemap",
                  group: "top-left"
                }),
                new Expand({
                  content: new BasemapToggle({
                      view: view,
                      nextBasemap: "hybrid"
                  }),
                  view: view,
                  expandIconClass: "esri-icon-media",
                  group: "top-left"
                }),
                new Expand({
                  content:new CoordinateConversion({
                    view: view
                  }),
                  view: view,
                  expandIconClass: "esri-icon-experimental",
                  group: "top-left"
                })
              ],
              "top-left"
            );
//PART06:
            var activeWidget = null;
            view.ui.add("topbar", "top-right");

            document
            .getElementById("distanceButton")
            .addEventListener("click", function () {
              setActiveWidget(null);
              if (!this.classList.contains("active")) {
                setActiveWidget("distance");
              }else{
              setActiveButton(null);
              }
            });

            document
            .getElementById("areaButton")
            .addEventListener("click", function () {
              setActiveWidget(null);
              if (!this.classList.contains("active")) {
                setActiveWidget("area");
              } else {
                setActiveButton(null);
            }
            });

            function setActiveWidget(type) {
              switch (type) {
                case "distance":
                  activeWidget = new DistanceMeasurement2D({
                    view: view
                  });
                  // skip the initial 'new measurement' button
                  activeWidget.viewModel.newMeasurement();
                  view.ui.add(activeWidget, "top-right");
                  setActiveButton(document.getElementById("distanceButton"));
                break;

                case "area":
                  activeWidget = new AreaMeasurement2D({
                    view: view
                  });
                  // skip the initial 'new measurement' button
                  activeWidget.viewModel.newMeasurement();
                  view.ui.add(activeWidget, "top-right");
                  setActiveButton(document.getElementById("areaButton"));
                break;

                case null:
                  if (activeWidget) {
                    view.ui.remove(activeWidget);
                    activeWidget.destroy();
                    activeWidget = null;
                  }
                break;
              }
            }

            function setActiveButton(selectedButton) {
              // focus the view to activate keyboard shortcuts for sketching
              view.focus();
              var elements = document.getElementsByClassName("active");
              for (var i = 0; i < elements.length; i++) {
                elements[i].classList.remove("active");
              }
              if (selectedButton) {
                selectedButton.classList.add("active");
              }
            }

//PART07:
            var layer = new FeatureLayer({
                //url: "https://services.arcgis.com/fzIHTcK9TqzWXLVL/arcgis/rest/services/layer_pointsriverfront/FeatureServer/0"
                url:"https://services.arcgis.com/fzIHTcK9TqzWXLVL/arcgis/rest/services/sabarmatizone/FeatureServer/0"
            });
            layer.watch("loaded", function(){
              watchUtils.whenFalseOnce(view, "updating", function(){
                 var attribs = dojoQuery(".esri-attribution__sources")[0];
                 console.info(attribs);
                 attribs.innerHTML = "TEAM HEXA_BYTE";
              });
            });
            //map.layers.add(layer,1);
            map.layers.push(layer);

        }
  );

</script>

<div id="viewDiv"></div>
<h2>WEB MAP</h2>
<div id="logoDiv" class="esri-widget">SIH Team HEXA_BYTE</div>
<div id="topbar">
      <button
        class="action-button esri-icon-measure-line"
        id="distanceButton"
        type="button"
        title="Measure distance between two or more points"
      ></button>
      <button
        class="action-button esri-icon-measure-area"
        id="areaButton"
        type="button"
        title="Measure area"
      ></button>
    </div>


    </body>
</html>
