{% extends "Layout.html" %}
{% block options %}
<a class="nav-item nav-link" href="/heatmap"> Heatmap </a>
<a class="nav-item nav-link" href="/healthcard"> Healthcard </a>
<a class="nav-item nav-link" href="/scene"> Survey </a>
<a class="nav-item nav-link" href="/addzone"> Add Zone</a>
{% endblock %}
{% block body %}
<div id="viewDiv"></div>
<div id="logoDiv" class="esri-widget">SIH Team HEXA_BYTE</div>
<div id="topbar">
      <button
        class="action-button esri-icon-measure-line"
        id="distanceButton"
        type="button"
        title="Measure distance between two or more points"
      ></button>
      <button
        class="action-button esri-icon-measure-area"
        id="areaButton"
        type="button"
        title="Measure area"
      ></button>
    </div>
<script src="{{url_for('static', filename='js/webmap.js')}}"></script>
{% endblock %}
