html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 60vh;
  width: 100%;
}
#logoDiv {
  padding: 12px;
  background-color: black;
  color: yellow;
  text-align: center;
  width: 100px;
}
#zoom {
  margin-bottom: 5px;
}

#actions {
  padding: 5px;
}

.container {
  height: 95%;
  width: 100%;
}
#topbar {
background: #fff;
padding: 10px;
}

.action-button {
font-size: 16px;
background-color: transparent;
border: 1px solid #d3d3d3;
color: #6e6e6e;
height: 32px;
width: 32px;
text-align: center;
box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}

.action-button:hover,
.action-button:focus {
background: #0079c1;
color: #e4e4e4;
}

.active {
background: #0079c1;
color: #e4e4e4;
}
